.fullscreen-slider {
    height: calc(100vh - 62px);
    overflow: hidden;
}

.carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.carousel-caption {
    bottom: 20%;
}


.carousel-indicators [data-bs-target] {
    background-color: rgb(250, 24, 24);
    /* border-radius: 50%;
    width: 10px;
    height: 10px; */
    margin: 0 8px; 
}