{% load static i18n %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge"/>
  <title>
    {% block title %}
      GearCore
    {% endblock title %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description"
        content="
        GearCore — серце твого байку.
        Магазин мотоциклів для тих, хто відчуває свободу на повну. Від круїзерів до спортбайків, від туристичних моделей
        до ендуро — ми зібрали все, що потрібно справжнім райдерам. Якісна техніка, екіпірування, аксесуари та
        обслуговування — GearCore об’єднує потужність, стиль і дух дороги"/>
  <meta name="author" content="aleks"/>
  <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}"/>
  {% block css %}
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
          integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"/>
    <!-- Your stuff: Third-party CSS libraries go here -->
    <!-- This file stores project-specific CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">


    <link href="{% static 'css/project.css' %}" rel="stylesheet"/>


  {% endblock css %}
</head>

<body class="{% block bodyclass %}{% endblock bodyclass %}">
<!-- Хедер -->
<header>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="#">GearCore</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Переключить навигацию">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        <!-- Центрируем навигацию -->
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Категории</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Бренды</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Контакты</a>
          </li>
        </ul>
        <!-- Иконки справа -->
        <ul class="navbar-nav d-flex flex-row gap-3">
          <li class="nav-item">
            <a class="nav-link" href="#" title="Аккаунт">
              <i class="bi bi-person-circle fs-5"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" title="Корзина">
              <i class="bi bi-bag fs-5"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<!-- Основной контент -->
<main class="main-content">
  <div class="container py-5">
    {% block content %}{% endblock content %}
  </div>
</main>

<!-- Футер -->
<footer>
  <div class="container">
    <small>&copy; 2025 GearCore. Усі права захищені.</small>
  </div>
</footer>

<!-- Le javascript
    ================================================== -->
{# Placed at the top of the document so pages load faster with defer #}
{% block javascript %}


  <!-- Bootstrap JS -->
  <script defer
          src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"
          integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"></script>
  <!-- Your stuff: Third-party javascript libraries go here -->


  <!-- place project specific Javascript in this file -->


  <script defer src="{% static 'js/project.js' %}"></script>


{% endblock javascript %}
</body>
</html>
