{% extends 'base.html' %}

{% block title %}
  {{ title }}
{% endblock title %}

{% block content %}
  <hr>

  <form action="{% url 'cart:add' %}" data-product-slug="{{ product.slug }}" method="post" class="fromAddCart">
    {% csrf_token %}
    <button type="submit">додати до кошика</button>
  </form>

  <b>{{ product.name }}</b> <br>
  {{ product.description }}
  <img src="{{ product.main_image_obj.image.url }} "/>
  {{ product.sell_price }}
  <hr>
  <br>
  <br>
  <br>
      {% for color in product.available_colors %}
        <a href="?color={{ color.id }}" style="display:inline-block;background-color: {{ color.hex_code }}; border:1px solid white; width: 30px;height:30px;"></a>
  {% endfor %}



  {% for variant in images %}

    <img src="{{ variant.image.url }} "/>
  {% endfor %}
{% endblock content %}
