.card .hover-actions {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.card:hover .hover-actions {
  opacity: 1;
}

.card-main-link{
  text-decoration: none;
  color: inherit;
  background-color: red;
}

.card-price,
.card-text,
.card-title,
.card-add-cart{
  position: relative;
  z-index: 2;
}

.btn:hover,
.btn.active{
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}

.img-block{
  width: 80px;
  height: auto;
}
.custom-block-right{
  background: rgba(0, 0, 0, 0.6);
  border-bottom-left-radius: 0.5rem;
}
